html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: color(bg, 1);
    /* Fallback for when there is no custom background color defined. */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

li>ul,
li>ol {
    margin-bottom: 0;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: middle;
}

img,
svg {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}